
    
     page-home {
    
    .TeamB{
        width: 40%;
        float:left;
        border-right: 2px solid black;
        margin: 0 auto;
         
    }

    .TeamA{
        width: 50%;
        float: right;
        margin: 0 auto;
    }

    
#btn{
    
    position: absolute;
    top:60%;
    width:80 px;
    float: right;
      

}

}

